html, body {
    font-size: 40px;      
    margin:0; /* remove default margin */
    padding:0; /* remove default padding */
    width:100%; /* take full browser width */
    height:100%; /* take full browser height*/
	text-align: center;
	font-family: Helvetica, sans-serif;
	background-color: darkcyan;
}

p {
	font-size: 20px;
}


label {
	display:  none;
}


h1 {
	font-size: 36px;
	font-family: Helvetica;
	font-weight: bold;
	color: white;
}

h2 {
	font-size: 24px;
	font-family: Helvetica;
	font-weight: bold;
	color: white;
}


#library {
	display: flex;
	justify-content:  center;
	flex-wrap: wrap;

}

.book-div {
	border-radius: 10px;
	padding:  5px;
	flex: 0 1 auto;
	background-color: lightblue;
	text-align: left;
	margin:  10px;
	min-width:  75px;

}

.read-button, .delete-button {
	font-weight: bold;
	text-align: center;
	font-size: 20px;
}


.read-button {
	font-size: 16px;
	padding:  5px;
}

.delete-button {
	background-color: lightpink;
	border-radius: 0 0 10px 10px ;
}

.delete-button:hover {
	background-color: red;
	color:  white;
	cursor: pointer;
}

.read-button:hover {
	cursor: pointer;
	color: green;
}

.read {
	background-color: lightgreen;
}
.unread {
	background-color: #FDFF93;
}






/* desktop screen */
@media only screen and (min-width: 800px)  {   



}

/* mobile screen */
@media only screen and (max-width: 800px) {

