html, body {     
    margin:0; /* remove default margin */
    padding:0; /* remove default padding */
    width:100%; /* take full browser width */
    height:100%; /* take full browser height*/
	text-align: center;
	font-family: Helvetica, sans-serif;
	background-color: darkcyan;
}

p {
	font-size: 20px;
}


label {
	display:  none;
}


h1 {
	font-size: 36px;
	font-family: Helvetica;
	font-weight: bold;
	color: white;
}

h2 {
	font-size: 24px;
	font-family: Helvetica;
	font-weight: bold;
	color: white;
}


#gameboard {
	border: solid black 2px;
	display:  flex;
	flex-direction: column;
}

.row {
	border: solid blue 1px;
	display:  flex;
	flex-wrap: nowrap;
	height:  100px;
	flex-direction: row;
}

.square {
	border: solid black 1px;
	font-size: 60px;
	flex: 1 1 auto;
	display:  flex;
	justify-content: center;
	align-items: center;
	background-color:  white;
	width:  100px;  /* Need to set this so it doesn't expand to accomodate "X" and "O" text */
}



.square:hover {
	cursor:  pointer;
	background-color:  yellow;
}




/* desktop screen */
@media only screen and (min-width: 800px)  {   



}

/* mobile screen */
@media only screen and (max-width: 800px) {

